<template>
    <div class="box">

        <div class="header">
            <router-link class="links" :to="{ name: 'dashbord' }">Dashbord</router-link>
            <router-link class="links" :to="{ name: 'users' }">Users</router-link>
        </div>

        <div class="container">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    export default {
        name: "App"
    }
</script>

<style lang="scss">
    @import "../sass/app";

    .header{
        padding: 10px 50px;
        background-color: #3173eb;
        .links{
            font-size: 19px;
            color: #ddd;
            text-decoration: none;
            transition: .2s;
            padding-left: 10px;
            &:hover{
                color:#fff;
            }
        }
    }


</style>