<template>
    <div class="box">
        <div class="section">
            <div>
                <img src="../images/room1.jpg" alt="">
            </div>
            <div>
                <img src="../images/room1.jpg" alt="">
            </div>
            <div>
                <img src="../images/room1.jpg" alt="">
            </div>
            <div>
                <img src="../images/room1.jpg" alt="">
            </div>
            <div>
                <img src="../images/room1.jpg" alt="">
            </div>
            <div>
                <img src="../images/room1.jpg" alt="">
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Home"
    }
</script>

<style lang="scss" scoped>

    .section{
        padding: 50px 0;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 30px;
    }

    img{
        width: 100%;
    }


</style>